@mixin insta($effect, $value) {
	$brightness: 100;
	$contrast: 100;
	$saturate: 100;
	$sepia: 0;
	$hue-rotate: 0;
	@if $effect == 'xproii' {
		$brightness: 110;
		$contrast: 130;
		$saturate: 130;
		$sepia: 30;
		$hue-rotate: -15deg;
	}
	@elseif $effect == 'brannan' {
		$brightness: 120;
		$contrast: 130;
		$saturate: 60;
		$sepia: 30;
		$hue-rotate: -20deg;
	}
	@elseif $effect == 'inkwell' {
		$brightness: 130;
		$saturate: 0;
	}
	@elseif $effect == 'hefe' {
		$brightness: 105;
		$contrast: 120;
		$saturate: 140;
		$sepia: 20;
		$hue-rotate: -5deg;
	}
	@elseif $effect == 'valencia' {
		$brightness: 110;
		$contrast: 90;
		$saturate: 90;
		$sepia: 30;
		$hue-rotate: -15deg;
	}
	-webkit-filter: brightness(1% * ($brightness*$value) ) contrast( 1% * ($contrast*$value) ) saturate( 1% * ($saturate*$value) ) sepia(1% * ($sepia*$value) ) hue-rotate( $value * $hue-rotate );
	-moz-filter: brightness(1% * ($brightness*$value) ) contrast( 1% * ($contrast*$value) ) saturate( 1% * ($saturate*$value) ) sepia(1% * ($sepia*$value) ) hue-rotate( $value * $hue-rotate );
	filter: brightness(1% * ($brightness*$value) ) contrast( 1% * ($contrast*$value) ) saturate( 1% * ($saturate*$value) ) sepia(1% * ($sepia*$value) ) hue-rotate( $value * $hue-rotate );
}

.xproii {
	@include insta(xproii, 1)
}
.brannan {
	@include insta(brannan, 1)
}
.inkwell {
	@include insta(inkwell, 1)
}
.hefe {
	@include insta(hefe, 1)
}
.valencia {
	@include insta(valencia, 1)
}